.card {
  height: 100px;
  width: 100%;

  background: #735bf2;
  color: #fff;

  border-radius: 10px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.card .title {
  font-size: 18px;
}

.card .buttons-section {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.action-item {
  background-color: transparent;
  border: none;
  font-size: 16px;
  margin: 10px;
  color: #fff;
  cursor: pointer;
}
